// This section is for Equinox-specific color variables.
$eq-dark-blue: #111e6c;
$eq-light-gray: #d3d3d3;
$eq-medium-gray: #999999;
$eq-text: #3d3d3d;
$eq-focus-blue: #829de0;
$eq-admin-red: #c72d2d;
$eq-admin-green: #2ec400;
$eq-admin-yellow: #dbc41d;


// This section is for Equinox-specific fonts. 
$eq-sans: Helvetica Neue, Helvetica, Arial, sans-serif;
$eq-serif: TimesNewRoman, Times New Roman,Times, Baskerville, Georgia, serif; 