/* Admin - some nice touches to the admin side of the theme. */

// Task Tabs.
#block-equinox-local-tasks {
  margin: 1em;
  padding: 0.3em 1em;
  border-bottom: 3px solid $gray;
  ul {
    li {
      display: inline-block;
      a {
        color: black;
        padding: 0.5em;
        border: 1px solid $gray;
        text-decoration: none;
        &:hover {
          color: white;
          background-color: $gray;
          @include transition(background-color, 0.3s, ease);
        }
      }
    }
  }
}

// Drupal Admin Alerts.
.admin-alert {
  padding: 1em;
  background-color: $admin-alert-blue;
  border: 1px solid;
  margin: 1em 3em;
}