/* Resets */

* { 
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box; 
}

body {
  font-family: $sans;
  font-size: 17px;
  line-height: 1.5;
  color: $color-text;
}

p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}